<div
  *ngIf="boggleService.boardData()"
  class="board"
  (pointerdown)="onPointerDown($event)"
  (pointermove)="onPointerMove($event)"
>
  <div class="overall-score">
    {{ "Score: " + boggleService.overAllScore() }}
  </div>
  <div class="remaining">
    time remaining: {{ timerService.secondsLeft() }}
  </div>
  <div class="row" *ngFor="let row of boggleService.boardData().board; let i = index">
    <div
      class="tile"
      [class.selected]="isSelectedTile(i, j)"
      *ngFor="let letter of row; let j = index"
    >
      <div
        class="tile-letter"
        [attr.data-row]="i"
        [attr.data-col]="j"
      >
        {{ letter | uppercase }}
      </div>
    </div>
  </div>

  <div class="word-container" [class.disable]="!isValidWord()">
    <div class="current-word">
      {{ boggleService.currentWord() | uppercase }}
    </div>
  </div>
</div>