<div 
  *ngIf="boardData()"
  class="board"
  (pointerdown)="onPointerDown($event)"
  (pointermove)="onPointerMove($event)"
>
  <div class="row" *ngFor="let row of boardData().board; let i = index">
    <div class="tile" [class.selected]="isSelectedTile(i, j)" *ngFor="let letter of row; let j = index">
      <div
        class="tile-letter"
        [attr.data-row]="i"
        [attr.data-col]="j"
      >
        {{ letter | uppercase }}
      </div>
    </div>
  </div>
</div>
<div class="result">
  Word: {{ boggleService.currentWord() }}
  <br/>
  Correct Words: {{correctWords}}
</div>